---
- include: install-Ubuntu14.04.yml
  when: 
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_version == '14.04' 
- include: install-Ubuntu16.04.yml
  when: 
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_version == '16.04' 
- include: install-CentOS6.yml
  when: 
    - ansible_distribution == 'CentOS'
    - ansible_distribution_major_version == '6' 
- include: install-Amazon.yml
  when: 
    - ansible_distribution == 'Amazon'

- name: Create sites-available directory
  action: file dest=/etc/nginx/sites-available state=directory mode=0755 owner=root group=root
- name: Create sites-enabled directory
  action: file dest=/etc/nginx/sites-enabled state=directory mode=0755 owner=root group=root
- name: Override nginx.conf
  template: src=nginx.conf.j2 dest=/etc/nginx/nginx.conf owner=root group=root mode=0644
- name: Start Nginx
  service: name=nginx state=started
- name: Enable Nginx
  service: name=nginx enabled=yes
