---
# install packages for redmine
- include: setup-Ubuntu14.04.yml
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_version == '14.04'
- include: setup-CentOS6.yml
  when:
    - ansible_distribution == 'CentOS'
    - ansible_distribution_major_version == '6'
- include: setup-Amazon.yml
  when:
    - ansible_distribution == 'Amazon'
- include: redmine-install.yml
