---
- include: setup-Ubuntu14.04.yml
  when: 
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_version == '14.04' 
- include: setup-Ubuntu16.04.yml
  when: 
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_version == '16.04' 
- include: setup-CentOS6.yml
  when: 
    - ansible_distribution == 'CentOS'
    - ansible_distribution_major_version == '6' 
- include: setup-Amazon.yml
  when: 
    - ansible_distribution == 'Amazon'

- name: Set the root privileges
  mysql_user:
    user: root
    host: "{{ item }}"
    password: "{{ mysql_root_password }}"
  with_items:
   - "%"
   - 127.0.0.1
   - ::1
   - localhost

- name: root アカウントのパスワードを設定
  mysql_user:
    name: root
    host: localhost
    password: "{{ mysql_root_password }}"
